body{font-size: 96%; background-color: #f7f9fb;}
.container-white{max-width: 900px!important;background-color: #ffffff;}
.lisk-container{max-width: 1200px;width: 100%;padding-right: 15px;padding-left: 15px;margin-right: auto;margin-left: auto;}
/*.header-bar{top: 74px; background-color: #4070F4;}*/
.header-bar{background-color: #000000;}/*top:74px;*/
.lisk-header-logo{width: 300px;}
/*.fixed-top {position: absolute;}*/
.separate{border-radius: 10px;}
.separate-left{border-radius: 10px 0px 0px 10px;}
.separate-right{border-radius: 0px 10px 10px 0px;}
.separate-left-3{border-radius: 10px 0px 0px 10px;}
.separate-right-3{border-radius: 0px 10px 10px 0px;}
.lead-box{max-width: 700px;}
.letter-space{letter-spacing: -0.05rem;}
.line-height{line-height: 1.5rem;}
.line-height2{line-height: 1.2rem;}
.lisk-bold{color: #673AB7;}
.text-gray{color: #999999;}
.text-gray-light{color: #cccccc;}
.text-gray-dark{color: #555555;}
.text-green-dark{color: #1a5d39;}
.text-blue{color: #4070f4;}
.lisk-text-center{text-align: left;}
.lisk-h5{font-size: 1.3rem; line-height: 2.1rem;}
.lisk-p5{padding: 3rem;}
.lisk-padding{padding-left: 0;padding-right: 0;}
.lisk-ill-padding{padding-top: 0;}
.lisk-ill-margin{margin-top: 2rem;}
.lisk-font-bold{font-family:Gilroy-ExtraBold;font-size:3.5rem!important;line-height:3rem;margin-bottom: 0.6rem;letter-spacing: -0.05rem;}
.lisk-font-bold-large{font-family:Gilroy-ExtraBold;font-size:3.5rem!important;line-height:4rem;margin-top: 2rem;letter-spacing: -0.05rem;}
.lisk-font-bold-large-2{font-family:Gilroy-ExtraBold;font-size:3.5rem!important;line-height:4rem;margin-top:2.5rem;letter-spacing: -0.05rem;}
.lisk-font-bold-large-3{font-family:Gilroy-ExtraBold;font-size:3.5rem!important;line-height:4rem;margin-top:2rem;letter-spacing: -0.05rem;}
.lisk-font-bold-large-title{font-family:Gilroy-ExtraBold;font-size:5rem!important;line-height:5rem;letter-spacing: -0.1rem;}
.lisk-font-bold-small{font-family:Gilroy-ExtraBold;font-size:1.3rem!important;line-height:1.8rem;}
.lisk-font-top{font-size: 91%;line-height: 1.5rem;}
.lisk-footer-white{color: #ffffff; font-weight: bold; font-size: 16px;}
.lisk-footer-gray{color: #999999; font-weight: bold;}
.lisk-footer-font{font-size: small;line-height: 1.25rem;}
.lisk-bg-dark{background-color: #0C152E;position: relative;top: 78px;margin-bottom: 115px;}
.lisk-bg-dark-twitter{background-color: #0C152E;}
.lisk-bg-green{background-color: #2BD67B;}
.lisk-bg-none{background-color: #b5b5b5;}
.lisk-bg-blue{background-color: #03a9f4;}
.lisk-font-green{color: #2BD67B;}
.lisk-font-green-sdk{color: #009646;font-weight: 600;font-size: 0.8rem;}
.lisk-stage{font-size: 0.7rem;color: #999999; background-color: #000000; font-weight: 700;padding-bottom: 0px;border: 1px solid #000000;width: 150px;text-align: center;border-radius: 3px;padding-top: 0px;margin-bottom: 5px;padding-left: 10px;padding-right: 10px;}
.lisk-question{font-size: 0.7rem;color: #2bd67b;font-weight: bold;padding-bottom: 0px; margin-left: 30%; margin-right: 30%;border: 1px solid #5f5f5f;text-align: center;border-radius: 5px;padding-top: 0px;margin-bottom: 5px;background-color: #000000;}
.lisk-news{text-align:center;font-size:0.7rem;color: #2bd67b;font-weight: bold;padding-bottom: 5px;border-radius: 5px;padding-top: 5px;padding-left:10px;padding-right:10px;margin-bottom: 5px;background-color: #000000;}
.lisk-news-center{text-align: left;}
.lisk-news-margin{margin-top: 1.5rem;}
.lisk-poc-file{font-size: 1.5rem;color: #2bd67b;font-weight: bold;text-align: center;border-radius: 5px;padding-top: 6px; padding-bottom: 6px; margin-bottom: 5px;}
.lisk-poc-list-1{min-width: 150px!important;float: left;}
.lisk-poc-list-2{min-width: 115px!important;float: left;}
.lisk-poc-padding-left{padding-top: 4rem;}
.lisk-poc-padding-right{padding-top: 3rem;}
.lisk-wil-padding-left{padding-top: 2rem;}
.lisk-wil-padding-right{padding-top: 0rem;}
.btn{padding: 0.5rem 1.2rem;}
.btn-primary {color: #fff; background-color: #2BD67B; border-color: #2BD67B; font-weight: bold; font-size: 0.9rem; padding: 12px 30px; font-weight: 600;}
.btn-primary:hover {color: #fff; background-color: #7de8b0; border-color: #7de8b0;}
.btn-green {color: #2BD67B; background-color: #ffffff; border-color: #ffffff; font-weight: bold; font-size: 0.9rem; padding: 12px 30px; font-weight: 600;}
.btn-green:hover {color: #fff; background-color: #000000; border-color: #000000;}
.btn-blue {color: #03a9f4; background-color: #ffffff; border-color: #ffffff; font-weight: bold; font-size: 0.9rem; padding: 12px 30px; font-weight: 600;}
.btn-blue:hover {color: #fff; background-color: #000000; border-color: #000000;}
.btn-bg-blue {color: #ffffff; background-color: #4070f4; font-weight: bold; font-size: 0.9rem; padding: 12px 30px; font-weight: 600;}
.btn-bg-blue:hover {color: #fff; background-color: #00227d;}
.btn-bg-gray {color: #444444; border: 1px solid #dddddd; font-size: 0.9rem; padding: 12px 30px; font-weight: 600;}
.btn-bg-gray:hover {color: #444444; background-color: #dddddd;}
.btn-outline-primary{color:#03a9f4;border-color: #03a9f4; font-size: 0.9rem; padding: 12px 30px; font-weight: 600;}
.btn-outline-primary:hover {color: #fff; background-color: #03a9f4;border-color: #03a9f4;}
.navbar-dark .navbar-toggler {border-color: rgba(255, 255, 255, 1);}
.navbar-toggler {padding: 0.35rem 0.42rem; line-height: 1rem;}
.navbar-dark .navbar-toggler {color: rgb(255, 255, 255); margin-top: 2px;}
.navbar-expand-md .navbar-nav {padding-right: 20px;}
.lisk-progres{background-color: #e9ecef;}
.lisk-progress-font{font-size: 0.7rem;}
.lisk-progres-dark{background-color: #a7a7a7;}
.lisk-progress-line{border-right: 1px solid #999999;}
.tradingview-widget-copyright{display: none;}
.timeline-Footer {display: none!important;}
table , td, th {border: 1px solid #ecedf0;background-color: white;border-collapse: collapse;}
td, th {padding: 10px;width: 250px;height: 25px;}
.even {background: #fbf8f0;}
.odd {background: #fefcf9;}
.lisk-table{width: 930px;}
.lisk-table-2{width: 465px;}
.lisk-border{border: solid 1px #ecedf0;background-color: white;}
.lisk-pb-exchange{padding-bottom: 20px;font-size: 12px;}
.lisk-pb-exchange-2{padding-bottom: 0px;}
.lisk-pb-twitter{padding-bottom: 20px;}
.lisk-twitter-text{font-size: 80%;}
.lisk-copy{border: 1px dashed; border-radius: 3px;padding: 3px 9px; margin: 0px 7px; color:#888888; background-color:#f7f9fb;}
.fas{font-size: 77%;}
.lisk-twitter{text-align: center;font-size: 0.7rem;color: #d6c92b;font-weight: 600;border-radius: 4px;padding: 6px;background-color: #000000;top: 18px;left: 192px;border: 1px solid #888;position: absolute;line-height: 13px;width: 66px;}
.lisk-sdk-stage{background: url(../img/sdk-stage-pc.png);background-repeat: no-repeat;width: 839px; height: 204px; background-size: cover; margin-top: 20px; margin-bottom: 60px;}
.lisk-demo{font-family:OpenSans-Regular; font-size: 1.2rem;font-weight: bold;padding-top: 18px;margin-bottom: -20px;}
.lisk-rewards{box-shadow: 0 15px 10px -10px #e4e4e4; border-bottom: 1px solid #ddd;}
.width990{padding-top: 60px;}
.lisk-merit-border{border: 1px solid #ddd; border-radius: 4px; padding: 20px;}
.lisk-merit-title{color: #4070f4; font-weight: bold; font-size: 1.2rem;padding-bottom: 10px;}
.lisk-contact{line-height: 2rem;}

@media (max-width: 1200px) {
.lisk-container{ max-width: 1000px; width: 100%;padding-right: 15px;padding-left: 15px;margin-right: auto;margin-left: auto;}
.lisk-ill-padding{padding-top: 1rem;}
.lisk-ill-margin{margin-top: 5rem;}
.lisk-wil-padding-left{padding-top: 2rem;}
.lisk-wil-padding-right{padding-top: 0rem;}
}
@media (max-width: 991px) {
.lisk-container{max-width: 730px;padding-right: 15px;padding-left: 15px;margin-right: auto;margin-left: auto;}
.lisk-sdk-stage{background: url(../img/sdk-stage-pc.png);background-repeat: no-repeat;width: 658px; height: 160px; background-size: cover; margin-top: 20px; margin-bottom: 60px;}
.separate-left-3{border-radius: 10px 10px 0px 0px;}
.separate-right-3{border-radius: 0px 0px 10px 10px;}
.lisk-text-center{text-align: center;}
.lisk-ill-padding{padding-top: 1rem;}
.lisk-ill-margin{margin-top: 1rem;}
.lisk-news-center{text-align: center;}
.lisk-poc-padding-left{padding-top: 1rem;}
.lisk-poc-list-1{min-width: 260px!important;float: left;}
.lisk-poc-list-2{min-width: 105px!important;float: left;}
.lisk-wil-padding-left{padding-top: 0.5rem;}
.lisk-wil-padding-right{padding-top: 3rem;}
.lisk-pb-twitter{padding-bottom: 0px;}
.lisk-font-bold-large-title{font-family:Gilroy-ExtraBold;font-size:4rem!important;line-height:4.3rem;letter-spacing: -0.1rem;}
.lisk-twitter{font-size: 0.5rem;top: -18px;left: 61px;width: 113px;}
}
@media (max-width: 768px) {
.lisk-container{width: 100%;padding-right: 15px;padding-left: 15px;margin-right: auto;margin-left: auto;}
.lisk-sdk-stage{background: url(../img/sdk-stage-pc.png);background-repeat: no-repeat;width: 479px; height: 117px; background-size: cover; margin-top: 20px; margin-bottom: 60px;}
.lisk-font-bold-large{font-family:Gilroy-ExtraBold;font-size:3.5rem!important;line-height:4rem;margin-top:1.7rem;letter-spacing: -0.05rem;}
.lisk-font-bold-large-title{font-family:Gilroy-ExtraBold;font-size:4.5rem!important;line-height:5rem;letter-spacing: -0.1rem;}
.lisk-font-bold-large-3{font-family:Gilroy-ExtraBold;font-size:3.5rem!important;line-height:4rem;margin-top:0.5rem;letter-spacing: -0.05rem;}
.separate-left{border-radius: 10px 10px 0px 0px;}
.separate-right{border-radius: 0px 0px 10px 10px;}
.width768{padding-top: 35px;}
.width768-2{padding-top: 25px;}
.lisk-table{width: 660px;}
.lisk-news-margin{margin-top: 0rem;}
.lisk-poc-padding-left{padding-top: 0rem;}
.lisk-poc-list-1{min-width: 190px!important;float: left;}
.lisk-wil-padding-left{padding-top: 0rem;}
.lisk-wil-padding-right{padding-top: 3rem;}
.lisk-font-bold-large-title{font-family:Gilroy-ExtraBold;font-size:3.5rem!important;line-height:3.8rem;letter-spacing: -0.1rem;}
.lisk-twitter{text-align: center;font-size: 0.7rem;top: 18px;left: 406px;width: 66px;}
.lisk-order-0{order: 0;}
.lisk-order-1{order: 1;}
.lisk-bg-dark{background-color: #0C152E;position: relative;top: 54px;margin-bottom: 115px;}
}
@media (max-width: 576px) {
.lisk-container{width: 100%;padding-right: 15px;padding-left: 15px;margin-right: auto;margin-left: auto;}
.lisk-sdk-stage{background: url(../img/sdk-stage-mobi.png);background-repeat: no-repeat;width: 312px; height: 743px; background-size: cover; margin-top: 20px; margin-bottom: 60px;}
body{font-size: 100%; background-color: #f7f9fb;}
.line-height{line-height: 1.5rem;}
.lisk-font-bold-large{font-family:Gilroy-ExtraBold;font-size:3.4rem!important;line-height:3.4rem;margin-top:2rem;letter-spacing: -0.05rem;}
.lisk-font-bold-large-2{font-family:Gilroy-ExtraBold;font-size:3.5rem!important;line-height:3.4rem;margin-top:1rem;letter-spacing: -0.05rem;}
.lisk-header-logo{width: 70vw;}
.lisk-poc-file{padding-top: 6px; padding-bottom: 0px; margin-bottom: 0px;}
.separate-left{border-radius: 10px 10px 0px 0px;}
.separate-right{border-radius: 0px 0px 10px 10px;}
.lisk-p5{padding: 2rem;}
.lisk-table{width: 260px;}
.lisk-pb-exchange{padding-bottom: 20px;}
.lisk-poc-list-1{min-width: 160px!important;float: left;}
.lisk-poc-list-2{min-width: 95px!important;float: left;}
.lisk-font-bold-large-title{font-family:Gilroy-ExtraBold;font-size:2.7rem!important;line-height:3.3rem;letter-spacing: -0.1rem;}
.lisk-twitter{text-align: center;font-size: 0.7rem;top: 18px;left: 246px;width: 66px;}
}
@media (max-width: 375px) {
.lisk-poc-list-1{min-width: 130px!important;float: left;}
.lisk-poc-list-2{min-width: 95px!important;float: left;}
.lisk-twitter{text-align: center;font-size: 0.7rem;top: 18px;left:245px;width: 66px;}
.lisk-sdk-stage{background: url(../img/sdk-stage-mobi.png);background-repeat: no-repeat;width: 313px; height: 745px; background-size: cover; margin-top: 20px; margin-bottom: 60px;}
}
@media (max-width: 320px) {
.lisk-container{width: 100%;padding-right: 15px;padding-left: 15px;margin-right: auto;margin-left: auto;}
.lisk-sdk-stage{background: url(../img/sdk-stage-mobi.png);background-repeat: no-repeat;width: 259px; height: 616px; background-size: cover; margin-top: 20px; margin-bottom: 60px;}
.lisk-poc-list-1{min-width: 130px!important;float: left;}
.lisk-font-bold-large{font-family:Gilroy-ExtraBold;font-size:3.5rem!important;line-height:4rem;margin-top:2rem;letter-spacing: -0.05rem;}
.lisk-header-logo{width: 70vw;}
.separate-left{border-radius: 10px 10px 0px 0px;}
.separate-right{border-radius: 0px 0px 10px 10px;}
.lisk-table{width: 140px;}
.lisk-twitter{text-align: center;font-size: 0.7rem;top: 18px;left: 193px;width: 66px;}
}
@font-face {
font-family:'Gilroy-ExtraBold';
src: url(../font/Gilroy-ExtraBold.otf);}
@font-face {
font-family:'OpenSans-Regular';
src: url(../font/OpenSans-Regular.ttf);}