/* Font */
@font-face {
  font-family:'Gilroy-ExtraBold';
  src: url(../font/Gilroy-ExtraBold.otf);
}

@font-face {
  font-family:'Heebo-Regular';
  src: url(../font/Heebo-Regular.ttf);
}

.bi-chevron-double-right::before {
  content: "\f280";
  padding-bottom: 2px;
}

.pt-6{padding-top: 3rem;}

/* Body */
/*body{background-color:#ffffff;font-size: 90%;font-family: "Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;}*/
body{background-color:#ffffff;font-size: 100%; line-height: 1.8em; font-family: 'Noto Sans JP', sans-serif;}
.h1{letter-spacing:-0.02rem;line-height:2.75rem;}
.h2{letter-spacing:-0.02rem;line-height:2.5rem;}
.h3{letter-spacing:-0.02rem;line-height:2.25rem;}
.h4{letter-spacing:-0.02rem;line-height:2rem;}
.h5{letter-spacing:-0.02rem;line-height:1.75rem;}
.h6{letter-spacing:-0.02rem;line-height:1.4rem;}
.h1-regular{letter-spacing:-0.02rem;line-height:3rem;}
.h2-regular{letter-spacing:-0.02rem;line-height:2.5rem;}
.h3-regular{letter-spacing:-0.02rem;line-height:2.25rem;}
.h4-regular{letter-spacing:-0.02rem;line-height:2rem;}
.h5-regular{letter-spacing:-0.02rem;line-height:1.75rem;}
.h6-regular{letter-spacing:-0.02rem;line-height:1.4rem;}

/* Header */
.header-bar{background-color:#00000000;}
.mx-auto{margin-right: auto !important;} /*  */
.navbar{padding: 0.5rem 1.5rem;}
.navbar-dark .navbar-toggler{border-color:rgba(255, 255, 255, 1);}
.navbar-toggler{padding:0.25rem 0.25rem;line-height:1rem;}
.navbar-dark .navbar-toggler{color:rgb(255, 255, 255);margin-top:2px;}
a.nav-link{color: #999999!important}

/* Top contents - standard */
.glm-news-center{text-align:left;display:block;}
.glm-news{text-align:left;font-size:0.7rem;color:#2bd67b;font-weight:bold;padding:5px 10px;margin-bottom:5px;border-radius:4px;background-color:#000000;line-height:1.3rem;}
.glm-bg-top{margin-top:75px;padding:50px 30px;}
.glm-bg-top-container{max-width:1200px;margin-right:auto;margin-left:auto;}
.glm-top-title{font-family:'Gilroy-ExtraBold';font-size:2.7rem!important;line-height:3.2rem;letter-spacing:-0.03rem;}
.glm-top-title-sub{font-family: 'Noto Sans JP', sans-serif;font-size:2rem!important;line-height:3.5rem;letter-spacing:-0.02rem;font-weight:600;}
.glm-top-title-sub2{font-family:'Gilroy-ExtraBold';line-height: 4rem;font-size: 5em!important;letter-spacing: -0.08rem!important;overflow-wrap: break-word;}

/* Top contents - background image */


/* Top contents - standard */
.glm-separate-left{border-radius: 10px 0px 0px 10px;}
.glm-separate-right{border-radius: 0px 10px 10px 0px;border-top: 1px;}
.glm-separate-border{border-color: #dddddd;border: 1px solid #dddddd;}
.glm-separate-border-reverse{border-color: #dddddd;border: 1px solid #dddddd;}
.glm-description{width: 25%;padding: 0 15px;}
.glm-description-font{font-size: 100%;}
.glm-hr{margin-top: 0rem!important;margin-bottom: 0rem!important;}

/* Background color */
.glm-bg-white{background-color:#ffffff;padding:80px 0;border-bottom:1px solid #dee0e1;}
.glm-bg-white2{background-color:#ffffff;padding:110px 0 80px 0;border-bottom:1px solid #dee0e1;background-size: cover;background-position: center top;}
.glm-bg-white3{background-color:#ffffff;padding:110px 0;border-bottom:1px solid #dee0e1;border-bottom:1px solid #dee0e1;}
.glm-bg-white-no-border{background-color:#ffffff;padding:80px 0;}
.glm-bg-white-no-border-large-title{background-color:#ffffff;padding:80px 0 0;}
.glm-bg-black{background-color:#000000;border-bottom:1px solid #dee0e1;}
.glm-bg-gray{background-color:#f7f9fb;padding:80px 0;border-bottom:1px solid #dee0e1;}
.glm-bg-gray2{background-color:#f7f9fb;padding:110px 0 80px 0;border-bottom:1px solid #dee0e1;background-size: cover;background-position: center top;}
.glm-bg-gray-dark{background-color:#343a40;padding:80px 0;border-bottom:1px solid #dee0e1;}
.glm-bg-gray-dark-no-border{background-color:#343a40;padding:80px 0;}
.glm-bg-blue-dark{background-color:#0C152E;padding:80px 0;border-bottom:1px solid #dee0e1;}
.glm-bg-blue-dark-top{background-color:#0C152E;}

/* Attention */
.glm-bg-attention-normal{background-color:#4070f4;padding:80px 0;}
.glm-bg-attention-image{background-image:url(../img/glimp-template-standard-illustlation-attention.jpg);background-size:cover;background-position:center top;padding:80px 0;}
.glm-bg-attention-read{font-weight:normal;font-size:1.3rem;line-height:1.8rem;}
.glm-bg-attention-read-sub{font-weight:normal;font-size:1.1rem;line-height:1.6rem;}
.glm-bg-attention-read-sub2{font-family: 'Noto Sans JP', sans-serif; padding-top: 1.5em!important;  font-size:1.2rem!important;line-height:1.5rem;letter-spacing:-0.02rem;font-weight:900;color: #888888!important;}

/* Top button color */
.glm-btn-bg-blue-top{color:#ffffff;background-color:#4070f4;font-size:0.9rem;padding:12px 30px;font-weight:600;letter-spacing:-0.05rem;}
.glm-btn-bg-blue-top:hover{color:#fff;background-color:#00227d;font-weight:600;letter-spacing:-0.05rem;}

/* Button color */
.glm-btn-bg-blue{color:#ffffff;background-color:#4070f4;font-size:0.9rem;margin-top:20px;margin-right:20px;padding:12px 30px!important;font-weight:600;font-family: 'Noto Sans JP', sans-serif;font-weight: 400!important;}
.glm-btn-bg-blue:hover{color:#ffffff;background-color:#00227d;font-family: 'Noto Sans JP', sans-serif;font-weight: 400!important;}
.glm-btn-bg-gray{color:#444444;border:1px solid #dddddd;font-size:0.9rem;margin-top:20px;margin-right:20px;padding:12px 30px!important;font-weight:600;font-family: 'Noto Sans JP', sans-serif;font-weight: 400!important;}
.glm-btn-bg-gray:hover{color:#444444;background-color:#dddddd;font-weight:600;font-family: 'Noto Sans JP', sans-serif;font-weight: 400!important;}
.glm-btn-bg-gray-center{color:#444444;border:1px solid #dddddd;font-size:0.9rem;margin-top:20px;padding:12px 30px!important;font-weight:600;font-family: 'Noto Sans JP', sans-serif;font-weight: 400!important;}
.glm-btn-bg-gray-center:hover{color:#444444;background-color:#dddddd;font-weight:600;font-family: 'Noto Sans JP', sans-serif;font-weight: 400!important;}
.glm-btn-bg-blue-center{color:#ffffff;background-color:#4070f4;border:1px solid #dddddd;font-size:0.9rem;margin-top:20px;padding:12px 30px!important;font-weight:600;font-family: 'Noto Sans JP', sans-serif;font-weight: 400!important;}
.glm-btn-bg-blue-center:hover{color:#ffffff;background-color:#00227d;font-weight:600;font-family: 'Noto Sans JP', sans-serif;font-weight: 400!important;}

/* Text color */
.glm-text-white{color:#ffffff;}
.glm-text-gray{color:#999999;}
.glm-text-gray-light{color:#cccccc;}
.glm-text-gray-dark{color:#555555;}
.glm-text-black{color:#000000;}
.glm-text-blue{color:#4070f4;}
.glm-text-bigblue{font-size: 2em;letter-spacing: -0.08em;color: #4070f4d1;vertical-align: text-top;}
.glm-text-bigpurple{font-size: 2em;letter-spacing: -0.08em;color: #5340f4d1;vertical-align: text-top;}

/* Text */
.glm-text-center{text-align:left;}
.glm-text-bold{font-family: "Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;}
.font-weight-bold{font-family: 'Noto Sans JP', sans-serif;font-weight: 900!important;}
.font-weight-semi-bold{font-family: 'Noto Sans JP', sans-serif;font-weight: 600!important;}
.glm-font-top{font-size: 220%!important;}

/* Section */
.glm-section-top{margin-top:0px;}
.glm-section-top-img{margin-top:0px;}
.glm-section-bottom{margin-bottom:80px;}

/* Border */
.glm-border-gray{border:1px solid #ddd;border-radius:4px;}

/* Text size */
.glm-text-bold-size-top{font-size:1.8rem;line-height:2.5rem;margin-bottom:0.6rem;letter-spacing:-0.01rem;font-weight:600;}
.glm-text-footer-12px{font-size:12px;}
.glm-top-text{font-size: 280%!important;}

/* jumbotron */
.jumbotron {padding:2rem 1rem;margin-bottom:0rem!important;background-color: #e9ecef00;border-radius:0.3rem;text-align:center;line-height:3.5rem;}
.jumbotron-hr {height: 1px;background-color: #888888;border: none;}


.flex-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 1000vh;
  }


@media (min-width: 320px) {
  .flex-container {height: 100vh;}
  .lsk-lineheight{line-height: 1em;}
  .lsk-catchphrase-1{font-size: 1.5em;letter-spacing: -0.1em;color: #3e527d; opacity: 0.6;}
  .lsk-catchphrase-2{font-size: 2.5em;letter-spacing: -0.1em;color: #8d8d8d; opacity: 0.6;}
  .lsk-catchphrase-3{font-size: 4.5em;letter-spacing: -0.1em;color: #f8f8f8; opacity: 0.6; line-height: 50px;}
  .lsk-bodycopy{font-size: 1em;}
  .lsk-margin-top{margin-top: 30px;}
    .glm-bg-top{margin-top:57px;}
    .glm-news-center{text-align:center;}
    .glm-text-center{text-align:center;}
    .glm-order-0{order: 0;}    
    .glm-order-1{order: 1;}
    .glm-section-top{margin-top:80px;}
    .glm-section-top-image{margin-top:30px;}
    .glm-top-title{font-size:1.5rem!important;line-height:1.8rem;font-weight:600;}
    .glm-separate-left{border-radius: 10px 10px 0px 0px;}
    .glm-separate-right{border-radius: 0px 0px 10px 10px;}
    .glm-separate-border{border-top: 0;}
    .glm-separate-border-reverse{border: 1px solid #dddddd;}
    .glm-bg-attention-read{font-weight:normal;font-size:1rem;line-height:1.5rem;}
    .glm-top-title-sub{font-size:1.7rem!important;line-height:2.2rem;letter-spacing:-0.02rem;font-weight:600;}
    .glm-bg-attention-read-sub{font-weight:normal;font-size:1rem;line-height:1.6rem;padding-top:1rem;}
    .glm-description{width: 50%;padding: 0 15px;}
    .glm-description-font{font-size: 90%;}
    .pt-6{padding-top: 0rem;}
    .glm-font-top{font-size: 170%!important;}
    .glm-text-bigblue{font-size: 1.8em;letter-spacing: -0.08em;color: #4070f4d1;vertical-align: text-top;}
    .glm-text-bigpurple{font-size: 1.8em;letter-spacing: -0.08em;color: #5340f4d1;vertical-align: text-top;}
    .glm-top-text{font-size: 160%!important;}
    body{font-size: 87%;}
  }
  
@media (min-width: 375px) {
  .flex-container {height: 100vh;}
  .lsk-lineheight{line-height: 1em;}
  .lsk-catchphrase-1{font-size: 1.5em;letter-spacing: -0.1em;color: #3e527d; opacity: 0.6;}
  .lsk-catchphrase-2{font-size: 2.5em;letter-spacing: -0.1em;color: #8d8d8d; opacity: 0.6;}
  .lsk-catchphrase-3{font-size: 4.5em;letter-spacing: -0.1em;color: #f8f8f8; opacity: 0.6; line-height: 50px;}
  .lsk-bodycopy{font-size: 1em;}
  .lsk-margin-top{margin-top: 30px;}
    .glm-bg-top{margin-top:57px;}
    .glm-news-center{text-align:center;}
    .glm-text-center{text-align:center;}
    .glm-order-0{order: 0;}    
    .glm-order-1{order: 1;}
    .glm-section-top{margin-top:80px;}
    .glm-section-top-image{margin-top:30px;}
    .glm-top-title{font-size:1.9rem!important;line-height:2.3rem;font-weight:600;}
    .glm-separate-left{border-radius: 10px 10px 0px 0px;}
    .glm-separate-right{border-radius: 0px 0px 10px 10px;}
    .glm-separate-border{border-top: 0;}
    .glm-separate-border-reverse{border: 1px solid #dddddd;}
    .glm-bg-attention-read{font-weight:normal;font-size:1rem;line-height:1.5rem;}
    .glm-top-title-sub{font-size:1.8rem!important;line-height:2.3rem;letter-spacing:-0.02rem;font-weight:600;}
    .glm-bg-attention-read-sub{font-weight:normal;font-size:1rem;line-height:1.6rem;padding-top:1rem;}
    .glm-top-title-sub2{font-size: 280%!important;line-height: 2rem;}
    .glm-description{width: 50%;padding: 0 15px;}
    .glm-description-font{font-size: 90%;}
    .pt-6{padding-top: 0rem;}
    .glm-font-top{font-size: 210%!important;}
    .glm-text-bigblue{font-size: 1.8em;letter-spacing: -0.08em;color: #4070f4d1;vertical-align: text-top;}
    .glm-text-bigpurple{font-size: 1.8em;letter-spacing: -0.08em;color: #5340f4d1;vertical-align: text-top;}
    .glm-top-text{font-size: 180%!important;}
    body{font-size: 90%;}
  }
  
@media (min-width: 576px) {
  .flex-container {height: 100vh;}
  .lsk-lineheight{line-height: 1em;}
    .lsk-catchphrase-1{font-size: 1.5em;letter-spacing: -0.1em;color: #3e527d; opacity: 0.6;}
    .lsk-catchphrase-2{font-size: 2.5em;letter-spacing: -0.1em;color: #8d8d8d; opacity: 0.6;}
    .lsk-catchphrase-3{font-size: 4.5em;letter-spacing: -0.1em;color: #f8f8f8; opacity: 0.6; line-height: 70px;}
    .lsk-bodycopy{font-size: 1em;}
    .lsk-margin-top{margin-top: 30px;}
    .glm-bg-top{margin-top:57px;}
    .glm-news-center{text-align:center;}
    .glm-text-center{text-align:center;}
    .glm-order-0{order: 0;}
    .glm-order-1{order: 1;}
    .glm-section-top{margin-top:80px;}
    .glm-section-top-image{margin-top:30px;}
    .glm-top-title{font-size:2.4rem!important;line-height:3rem;font-weight:600;}
    .glm-separate-left{border-radius: 10px 10px 0px 0px;}
    .glm-separate-right{border-radius: 0px 0px 10px 10px;}
    .glm-separate-border{border-top: 0;}
    .glm-separate-border-reverse{border: 1px solid #dddddd;}
    .glm-bg-attention-read{font-weight:normal;font-size:1rem;line-height:1.5rem;}
    .glm-top-title-sub{font-size:2rem!important;line-height:2.5rem;letter-spacing:-0.02rem;font-weight:600;}
    .glm-bg-attention-read-sub{font-weight:normal;font-size:1.1rem;line-height:1.6rem;padding-top:0.5rem;}
    .d-inline-flex {display: -ms-inline-flexbox !important;display: inline-flex !important;}
    .glm-top-title-sub2{font-family:'Gilroy-ExtraBold';line-height: 4rem;font-size: 3em!important;letter-spacing: -0.08rem!important;overflow-wrap: break-word;}
    .glm-description{width: 50%;padding: 0 15px;}
    .glm-description-font{font-size: 90%;}
    .pt-6{padding-top: 3rem;}
    .glm-font-top{font-size: 220%!important;}
    .glm-text-bigblue{font-size: 2em;letter-spacing: -0.08em;color: #4070f4d1;vertical-align: text-top;}
    .glm-text-bigpurple{font-size: 2em;letter-spacing: -0.08em;color: #5340f4d1;vertical-align: text-top;}
    .glm-top-text{font-size: 180%!important;}
    body{font-size: 90%;}
  }
  
@media (min-width: 768px) {
  .flex-container {height: 99.9vh;}
  .lsk-catchphrase-1{font-size: 2.5em;letter-spacing: -0.1em;color: #3e527d; opacity: 0.6; font-size: 290%;}
  .lsk-catchphrase-2{font-size: 3.5em;letter-spacing: -0.1em;color: #8d8d8d; opacity: 0.6; font-size: 530%;}
  .lsk-catchphrase-3{font-size: 4.5em;letter-spacing: -0.1em;color: #f8f8f8; opacity: 0.6; font-size: 700%; line-height: 120px;}
  .lsk-bodycopy{font-size: 1.5em;}
  .lsk-margin-top{margin-top: 30px;}
    .glm-bg-top{margin-top:75px;}
    .glm-news-center{text-align:left;}
    .glm-text-center{text-align:left;}
    .glm-order-0{order: 0;}    
    .glm-order-1{order: 0;}
    .glm-section-top{margin-top:0px;}
    .glm-section-top-image{margin-top:0px;}
    .glm-top-title{font-size:2.7rem!important;line-height:3.2rem;font-weight:600;}
    .glm-separate-left{border-radius: 10px 0px 0px 10px;}
    .glm-separate-right{border-radius: 0px 10px 10px 0px;}
    .glm-separate-border{border: 1px solid #dddddd;}
    .glm-separate-border-reverse{border: 1px solid #dddddd;}
    .glm-bg-attention-read{font-weight:normal;font-size:1.3rem;line-height:1.8rem;}
    .glm-top-title-sub{font-size:2rem!important;line-height:3.5rem;letter-spacing:-0.02rem;font-weight:600;}
    .glm-bg-attention-read-sub{font-weight:normal;font-size:1.1rem;line-height:1.6rem;padding-top:0rem;}
    .glm-top-title-sub2{font-family:'Gilroy-ExtraBold';line-height: 4rem;font-size: 4em!important;letter-spacing: -0.08rem!important;overflow-wrap: break-word;}
    .glm-description{width: 25%;padding: 0 15px;}
    .glm-description-font{font-size: 90%;}
    .pt-6{padding-top: 3rem;}
    .glm-font-top{font-size: 220%!important;}.glm-text-bigblue{font-size: 2.5em;letter-spacing: -0.08em;color: #4070f4d1;vertical-align: text-top;}
    .glm-text-bigblue{font-size: 2em;letter-spacing: -0.08em;color: #4070f4d1;vertical-align: text-top;}
    .glm-text-bigpurple{font-size: 2em;letter-spacing: -0.08em;color: #5340f4d1;vertical-align: text-top;}
    .glm-top-text{font-size: 280%!important;}
    body{font-size: 90%;}
}

@keyframes slide {
  
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 634px -400px;
  }
}

.slide {
  animation: slide 12s linear infinite;
  width: 100%;
  height: 100%;
  background-repeat: repeat;
  animation-duration: 7s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: slide;
}